<body class="bg-dark text-white py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
            </div>
            <div class="col-md-10">
                <h3> Accesso Negato</h3>
                <p>Non hai i diritti sufficienti per poter accedere alla schermata selezionata!<br/>Torna alla schermata di login</p>
                <a class="btn btn-danger" routerLink="/articoli">Torna alla tabella Articoli</a>
            </div>
        </div>
    </div>
</body>
